
/* Elementos */

.sec3_1 {
    height: 25%;
    background-color: red;
}

#sec2 {
    height: 50%;
    background-color: black;
    display: flex;

}

.imgSec2 {
    height: 70%;
    margin: auto;
    
}

.polaroid {
    height: 100%;
    background-color: white;
    width:fit-content;
}
.imgPolaroid{
    height: 70%;
    margin:15px;
}

.caption {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

